@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type' as *;

$leap-green-500: #0c8c5e;

.leap-notification {
  --cds-support-success: #{$leap-green-500};
  margin-bottom: $spacing-04;
}

.leap-notification-timestamp {
  @include type-style('label-01');
  display: block;
  color: $text-secondary;
  margin-top: $spacing-02;
}
