@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/components/fluid-search';

$leap-green-500: #0c8c5e;

.leap-fluid-search {
  --cds-focus: #{$leap-green-500};
  --cds-interactive: #{$leap-green-500};
  --cds-border-interactive: #{$leap-green-500};
}
